* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  margin-bottom: 40px;
  font-weight: 500;
}

.bulk-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.row input {
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 140px;
  resize: none;
}

button {
  width: 130px;
  padding: 12px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
  h1 {
    font-size: 36px;
  }
}